<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.paging.mapper.BoardPagingMapper">  
  
  <!-- menu_id 해당하는 게시물 자료수 -->
  <select id="count">
  
      SELECT   COUNT(*)  AS CNT
       FROM    BOARD
       WHERE   MENU_ID  =  #{ menu_id } 
  
  </select>
  
  <!-- 
     getBoardPagingList(String menu_id, int offset, int recordSize); 
       menu_id : param1, offset: param2, recordSize : param3
     arg0 는 안됨  
  -->
  <select  id="getBoardPagingList">
  
    SELECT
	    IDX,
	    MENU_ID,
	    TITLE,
	    WRITER,
	    TO_CHAR(REGDATE, 'YYYY-MM-DD') REGDATE,
	    HIT
	FROM
	    BOARD
	 WHERE     MENU_ID = #{ param1 }   
	 ORDER BY IDX  DESC   
       OFFSET  #{ param2 }  ROWS FETCH NEXT #{ param3 } ROWS ONLY
  
  </select>
      
  <!--  insertBoard -->
  <select id="insertBoard">
  
     INSERT INTO BOARD (
	    IDX,
	    MENU_ID,
	    TITLE,
	    CONTENT,
	    WRITER,
	    REGDATE,
	    HIT
	) VALUES ( 
  		( SELECT NVL(MAX(IDX),0)+1 FROM BOARD ) ,
        #{ menu_id  },
        #{ title    },
        #{ content  },
        #{ writer   },
        SYSDATE,
        0 
    )  
     
  </select>    
         
  
  
  
</mapper>






















